@mixin flexStyle {
    display: flex;
    align-items: center;
}

.detail-item {
    width: 100%;
    margin-top: 20px;
    background: #ffffff;
    display: flex;
    position: relative;
    ul {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 4%;
        li {
            span {
                font-size: 16px;
            }
            span.icon-plus {
                font-size: 18px;
            }
            &:nth-child(-n+4) {
                height: 40%;
                @include flexStyle();
            }
            &:first-child {
                width: 43%;
                color: #00B4CF;
                font-weight: bold;
                span {
                    padding-right: 10px;
                }
            }
            &:nth-child(2) {
                width: 16%;
                span {
                    padding: 5px 10px;
                }
                [title="building"] {
                    background: #FF9A2A;
                }
                [title="idle"] {
                    background: #7FBC39;
                }
            }
            &:nth-child(3) {
                width: 16%;
                span {
                    padding-right: 5px;
                }
            }
            &:nth-child(4) {
                span {
                    padding-right: 5px;
                }
            }
            &:nth-child(5) {
                width: 4%;
                height: 20%;
                font-size: 18px;
                justify-content: center;
                color: #ffffff;
                background: #00B4CF;
                cursor: pointer;
                &:hover {
                    background: #01869A;
                }
                &:active {
                    background: #01869A;
                }
                @include flexStyle();
            }
            &:nth-child(n+6),
                {
                @include flexStyle();
                justify-content: space-around;
                background: #EFEFEF;
                font-weight: bold;
                margin-bottom: 1%;
                span {
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
    .pop-dialog {
        height: 160px;
        position: absolute;
        border: 2px solid #00B4CF; // box-shadow: 0 3px 5px #000;
        background: #ffffff;
        z-index: 10;
        span {
            position: absolute;
            top: -18%;
            left: 5.5%;
            font-size: 42px;
            color: #00B4CF;
            background: #ffffff;
        }
        span.obscurity {
            width: 16px;
            height: 2px;
            top: -1%;
            left: 6.5%;
            background: #ffffff;
        }
        i {
            display: inline-block;
            font-size: 26px;
            color: #00B4CF;
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            &:hover {
                color: #01869A;
            }
            &:active {
                color: #01869A;
            }
        }
        p,
        div {
            height: 10%;
        }
        p {
            opacity: 0.8;
        }
        input {
            height: 20%;
            color: #00B4CF;
            padding-left: 20px;
            margin: 10px 3%;
            border: 1px solid #E1E4E6;
            border-radius: 5px;
        }
        div {
            button {
                height: 30px;
                border: 0;
                font-size: 14px;
                color: #ffffff;
                cursor: pointer;
                &:first-child {
                    background: #00B4CF;
                    &:hover {
                        background: #01869A;
                    }
                    &:active {
                        background: #01869A;
                    }
                }
                &:last-child {
                    margin-left: 20px;
                    background: #435466;
                    &:hover {
                        background: #2D4054;
                    }
                    &:active {
                        background: #2D4054;
                    }
                }
            }
        }
    }
    &:last-child {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .pop-dialog {
        top: 98%;
        left: 13.5%;
    }
    .detail-item {
        .centos,
        .debian,
        .suse,
        .ubuntu,
        .windows {
            display: block;
            width: 12%;
            height: 100%;
            margin-right: 1%;
            background: no-repeat right;
        }
        .centos {
            background-image: url("../../osicons/cent_os.png");
        }
        .debian {
            background-image: url("../../osicons/debin.png");
        }
        .suse {
            background-image: url("../../osicons/suse.png");
        }
        .ubuntu {
            background-image: url("../../osicons/ubuntu.png");
        }
        .windows {
            background-image: url("../../osicons/windows.png");
        }
        ul {
            width: 84%;
            li {
                &:nth-child(n+6) {
                    margin-left: 1%;
                }
            }
        }
    }
}

@media screen and (min-width: 1023px) and (max-width: 1200px) {
    .pop-dialog {
        top: 99%;
        left: 0;
    }
    .detail-item {
        &:first-child {
            display: none;
        }
        & ul {
            width: 98%;
            margin-left: 2%;
            li {
                &:nth-child(n+6),
                    {
                    margin-left: 2%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pop-dialog {
        top: 99%;
        left: 0;
    }
    .detail-item {
        &:first-child {
            display: none;
        }
        & ul {
            width: 98%;
            margin-left: 2%;
            li {
                &:nth-child(n+6) {
                    margin-left: 2%;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .pop-dialog {
        width: 570px;
        span {
            display: inline-block;
        }
        p {
            margin: 30px 5% 0 3%;
        }
        input {
            width: 90%;
        }
        div {
            margin: 10px 3%;
            button {
                width: 20%;
            }
        }
    }
    .detail-item {
        height: 120px;
        .deny-button {
            display: inline-block;
            width: 8%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            position: absolute;
            right: 8px;
            bottom: 24px;
            color: #ffffff;
            background: #00B4CF;
            font-weight: bold;
            cursor: pointer;
            .icon-deny {
                padding-right: 5px;
            }
            &:hover {
                background: #01869A;
            }
            &:active {
                background: #01869A;
            }
        }
        ul li {
            &:nth-child(4) {
                width: 23%;
                margin-left: 2%;
            }
            &:nth-child(n+6) {
                width: 12%;
                height: 20%;
                margin-left: 2%;
            }
            &:nth-child(12),
            &:nth-child(18) {
                margin-left: 6%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .pop-dialog {
        width: 100%;
        top: 0;
        left: 0;
        span {
            display: none;
        }
        p {
            margin: 30px 5% 10px 3%;
        }
        input {
            width: 86%;
        }
        div {
            display: flex;
            margin: 10px 15%;
            button {
                width: 70%;
            }
        }
    }
    .detail-item {
        height: 160px;
        .deny-button {
            visibility: hidden;
        }
        &:first-child {
            display: none;
        }
        & ul {
            width: 98%;
            margin-left: 2%;
            margin-top: 2%;
            li {
                &:nth-child(-n+4) {
                    height: 12%;
                    width: 100%;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(5) {
                    width: 8%;
                    height: 15%;
                    margin-right: 2%;
                }
                &:nth-child(7) {
                    margin-left: 4%;
                    margin-right: 20%;
                }
                &:nth-child(8) {
                    margin-left: 10%;
                    margin-right: 4%;
                }
                &:nth-child(n+6) {
                    height: 15%;
                    width: 28%;
                }
                &:nth-child(9) {
                    width: 30%;
                }
            }
        }
    }
}