* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2D4054;
  background: #F3F3F3;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: myFont;
  src: url("./font icons/fonts/cruise.ttf");
}

header,
footer {
  text-align: center;
  background: #ffffff;
}

header {
  height: 80px;
  line-height: 80px;
  position: relative;
}

header .header-title {
  width: 100px;
  height: 50px;
  padding-top: 15px;
  margin: 0 auto;
  display: flex;
  font-family: myFont;
}

header .header-title li {
  display: inline-block;
  width: 20px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-title .small-size {
  font-weight: bold;
}

header .header-title .large-size {
  font-size: 42px;
  margin-top: -5px;
  color: #00B4CF;
}

header .header-title :first-child {
  margin-right: 3px;
}

header .logo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  cursor: pointer;
}

header .icon-angle-up, header .icon-angle-down {
  display: inline-block;
  font-size: 26px;
  position: absolute;
  color: #999999;
  cursor: pointer;
}

header .sign-dialog {
  width: 150px;
  height: 100px;
  position: absolute;
  right: 7%;
  top: 65px;
  z-index: 100;
  background: #ffffff;
  padding-top: 20px;
  border: 1px solid #EFEFEF;
  box-shadow: -5px 5px 10px -4px #EFEFEF,5px 5px 10px -4px #EFEFEF;
}

header .sign-dialog li {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  font-size: 16px;
  font-family: myFont;
  cursor: pointer;
}

header .sign-dialog li span {
  font-size: 18px;
}

header .sign-dialog li .icon-id-card {
  padding-right: 12px;
}

header .sign-dialog li .icon-sign-in {
  padding-right: 18px;
}

header .sign-dialog li:hover {
  background: #EFEFEF;
}

footer {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #EFEFEF;
}

.content {
  width: 100%;
  display: flex;
}

.content .sidebar {
  height: auto;
  color: #ffffff;
  background: #2D4054;
}

.content .sidebar-top {
  margin-top: 30px;
}

.content .sidebar-top li {
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
  cursor: pointer;
}

.content .sidebar-top li span {
  display: inline-block;
  font-size: 20px;
  padding-right: 15px;
}

.content .sidebar-top li:hover {
  color: #00B4CF;
  background: #435466;
}

.content .sidebar-top .active-item {
  color: #00B4CF;
  background: #435466;
}

.content .sidebar h1 {
  font-size: 24px;
  color: #ccc;
  margin-top: 500px;
  margin-left: 10px;
}

.content .sidebar-bottom {
  margin-top: 15px;
}

.content .sidebar-bottom li {
  padding: 5px 0 5px 20px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  list-style-type: square;
  list-style-position: inside;
}

.content .sidebar-bottom li:hover {
  color: #00B4CF;
}

.content .detail-summary {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.content .detail-summary-item:first-child {
  background: #FF9A2A;
}

.content .detail-summary-item:nth-child(2) {
  background: #7FBC39;
}

.content .detail-summary-item:last-child {
  background: #ffffff;
}

.content .detail-summary-item-title {
  font-size: 12px;
}

.content .detail-summary-item-number {
  font-size: 20px;
}

.content .detail-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content .detail-navigation-items {
  display: flex;
  justify-content: space-between;
}

.content .detail-navigation-items li {
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.content .detail-navigation-items li:nth-child(2) {
  border-left: 1px solid #F3F3F3;
  border-right: 1px solid #F3F3F3;
}

.content .detail-navigation-input {
  position: relative;
}

.content .detail-navigation-input span {
  font-size: 20px;
  color: #999999;
  position: absolute;
  top: 15px;
}

.content .detail-navigation-input input {
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  height: 30px;
  padding-left: 45px;
  background: #F3F3F3;
}

.content .detail-navigation-buttons {
  width: 10%;
  height: auto;
  margin-right: 10px;
  vertical-align: center;
}

.content .detail-navigation-buttons span {
  width: 50%;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .detail-navigation-buttons span:last-child {
  color: #00B4CF;
}

.content .detail .empty-data {
  width: 100%;
  height: 300px;
  font-size: 20px;
  text-align: center;
  line-height: 300px;
  background: #ffffff;
  margin: 10px 0;
}

@media screen and (min-width: 1200px) {
  .logo {
    right: 12%;
  }
  header .icon-angle-up, header .icon-angle-down {
    right: 10.5%;
    top: 27px;
  }
  header .icon-navicon {
    display: none;
  }
  .sidebar {
    width: 20%;
    margin-left: 10%;
  }
  .sidebar .icon-close {
    display: none;
  }
  .detail {
    margin-left: 2%;
    margin-right: 10%;
    width: 58%;
  }
  .detail-summary {
    height: 130px;
  }
  .detail-summary-item {
    width: 31%;
  }
  .detail-summary-item:last-child {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .detail-summary-item:last-child li {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail-navigation {
    height: 50px;
    flex-wrap: wrap;
    background: #ffffff;
  }
  .detail-navigation-items, .detail-navigation-input {
    width: 33%;
    height: 100%;
  }
  .detail-navigation-items li:last-child {
    border-right: 1px solid #F3F3F3;
  }
  .detail-navigation-input {
    right: 60px;
  }
  .detail-navigation-input span {
    left: 10px;
  }
  .detail-navigation-input input {
    margin: 10px 0;
  }
  .detail-navigation-buttons {
    display: flex;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1200px) {
  .logo {
    right: 7%;
  }
  header .icon-angle-up, header .icon-angle-down {
    right: 5%;
    top: 27px;
  }
  header .icon-navicon {
    display: none;
  }
  .sidebar {
    width: 24%;
  }
  .sidebar .icon-close {
    display: none;
  }
  .detail {
    margin-left: 1%;
    margin-right: 1%;
    width: 74%;
  }
  .detail-summary {
    height: 130px;
  }
  .detail-summary-item {
    width: 31%;
  }
  .detail-summary-item:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .detail-summary-item:last-child li {
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail-summary-item:last-child li.detail-summary-item-title {
    justify-content: flex-start;
    padding-left: 20px;
  }
  .detail-navigation {
    height: 50px;
    flex-wrap: wrap;
    background: #ffffff;
  }
  .detail-navigation-items, .detail-navigation-input {
    width: 33%;
    height: 100%;
  }
  .detail-navigation-items li:last-child {
    border-right: 1px solid #F3F3F3;
  }
  .detail-navigation-input {
    right: 40px;
  }
  .detail-navigation-input span {
    left: 10px;
  }
  .detail-navigation-input input {
    margin: 10px 0;
  }
  .detail-navigation-buttons {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    right: 7%;
  }
  header .icon-angle-up, header .icon-angle-down {
    right: 4%;
    top: 27px;
  }
  header .icon-navicon {
    display: block;
    font-size: 22px;
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
  }
  header .icon-navicon:hover {
    color: #E1E4E6;
  }
  header .icon-navicon:active {
    color: #E1E4E6;
  }
  .content {
    position: relative;
  }
  .sidebar {
    position: absolute;
    width: 30%;
    height: auto;
    padding-top: 100px;
    top: -100px;
    left: 0;
    z-index: 50;
  }
  .sidebar .icon-close {
    display: block;
    font-size: 26px;
    color: #00B4CF;
    position: absolute;
    top: 32px;
    right: 10px;
    cursor: pointer;
  }
  .sidebar .icon-close:hover {
    color: #01869A;
  }
  .sidebar .icon-close:active {
    color: #01869A;
  }
  .detail {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }
  .detail-summary {
    height: 130px;
  }
  .detail-summary-item {
    width: 31%;
  }
  .detail-summary-item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .detail-summary-item:last-child li {
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail-summary-item:last-child li.detail-summary-item-title {
    justify-content: flex-start;
    padding-left: 20px;
  }
  .detail-navigation {
    height: 50px;
    flex-wrap: wrap;
    background: #ffffff;
  }
  .detail-navigation-items, .detail-navigation-input {
    width: 33%;
    height: 100%;
  }
  .detail-navigation-items li:last-child {
    border-right: 1px solid #F3F3F3;
  }
  .detail-navigation-input {
    right: 200px;
  }
  .detail-navigation-input span {
    left: 10px;
  }
  .detail-navigation-input input {
    margin: 10px 0;
  }
  .detail-navigation-buttons {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    right: 10%;
  }
  header .icon-angle-up, header .icon-angle-down {
    right: 3%;
    top: 27px;
  }
  header .icon-navicon {
    display: block;
    font-size: 22px;
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
  }
  header .icon-navicon:hover {
    color: #E1E4E6;
  }
  header .icon-navicon:active {
    color: #E1E4E6;
  }
  .sidebar {
    position: absolute;
    width: 60%;
    height: auto;
    padding-top: 100px;
    top: -100px;
    left: 0;
    z-index: 50;
  }
  .sidebar .icon-close {
    display: block;
    font-size: 20px;
    color: #00B4CF;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  .sidebar .icon-close:hover {
    color: #01869A;
  }
  .sidebar .icon-close:active {
    color: #01869A;
  }
  .detail {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }
  .detail-summary {
    height: 180px;
    flex-wrap: wrap;
  }
  .detail-summary-item {
    width: 48%;
    height: 80px;
  }
  .detail-summary-item:last-child {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .detail-summary-item:last-child li {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail-navigation {
    height: 120px;
    flex-wrap: wrap-reverse;
    background: #F3F3F3;
  }
  .detail-navigation-items {
    width: 100%;
    height: 50px;
    background: #ffffff;
  }
  .detail-navigation-input {
    width: 100%;
    height: 50px;
    text-align: center;
    background: #ffffff;
    margin-bottom: 20px;
  }
  .detail-navigation-input span {
    left: 25px;
  }
  .detail-navigation-input input {
    width: 90%;
    margin: 10px 10px;
  }
  .detail-navigation-buttons {
    display: none;
  }
}
