* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #2D4054;
    background: #F3F3F3;
}

li {
    list-style-type: none;
}

@font-face {
    font-family: myFont;
    src: url('./font icons/fonts/cruise.ttf');
}

@mixin borderStyle($color: red) {
    border: 1px solid $color;
    box-sizing: border-box;
}

@mixin marginStyle($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin heightAndLineHeight($height) {
    height: $height;
    line-height: $height;
}

@mixin flexStyle {
    display: flex;
    justify-content: space-between;
}

@mixin flexContentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer {
    text-align: center;
    background: #ffffff;
}

header {
    @include heightAndLineHeight(80px);
    position: relative;
    .header-title {
        width: 100px;
        height: 50px;
        padding-top: 15px;
        margin: 0 auto;
        display: flex;
        font-family: myFont;
        li {
            display: inline-block;
            width: 20px;
            height: 50px;
            font-size: 30px;
            @include flexContentCenter;
        }
        .small-size {
            font-weight: bold;
        }
        .large-size {
            font-size: 42px;
            margin-top: -5px;
            color: #00B4CF;
        }
        :first-child {
            margin-right: 3px;
        }
    }
    .logo {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        position: absolute;
        top: 20px;
        cursor: pointer;
    }
    .icon-angle-up, .icon-angle-down {
        display: inline-block;
        font-size: 26px;
        position: absolute;
        color: #999999;
        cursor: pointer;
    }
    .sign-dialog {
        width: 150px;
        height: 100px;
        position: absolute;
        right: 7%;
        top: 65px;
        z-index: 100;
        background: #ffffff;
        padding-top: 20px;
        border: 1px solid #EFEFEF;
        box-shadow:-5px 5px 10px -4px #EFEFEF,5px 5px 10px -4px #EFEFEF;
        li {
            height: 40px;
            @include flexContentCenter;
            justify-content: flex-start;
            padding-left: 10px;
            font-size: 16px;
            font-family: myFont;
            cursor: pointer;
            span {
                font-size: 18px;
            }
            .icon-id-card {
                padding-right: 12px;
            }
            .icon-sign-in {
                padding-right: 18px;
            }
            &:hover {
                background: #EFEFEF;
            }
        }
    }
}

footer {
    @include heightAndLineHeight(40px);
    border-top: 1px solid #EFEFEF;
}

.content {
    width: 100%;
    display: flex;
    .sidebar {
        height: auto;
        color: #ffffff;
        background: #2D4054;
        &-top {
            margin-top: 30px;
            li {
                @include heightAndLineHeight(45px);
                padding-left: 30px;
                cursor: pointer;
                span {
                    display: inline-block;
                    font-size: 20px;
                    padding-right: 15px;
                }
                &:hover {
                    color: #00B4CF;
                    background: #435466;
                }
            }
            .active-item {
                color: #00B4CF;
                background: #435466;
            }
        }
        h1 {
            font-size: 24px;
            color: #ccc;
            margin-top: 500px;
            margin-left: 10px;
        }
        &-bottom {
            margin-top: 15px;
            li {
                padding: 5px 0 5px 20px;
                font-size: 12px;
                color: #999;
                cursor: pointer;
                list-style-type: square;
                list-style-position: inside;
                &:hover {
                    color: #00B4CF;
                }
            }
        }
    }
    .detail {
        &-summary {
            width: 100%;
            margin: 20px 0;
            @include flexStyle();
            &-item {
                &:first-child {
                    background: #FF9A2A;
                }
                &:nth-child(2) {
                    background: #7FBC39;
                }
                &:last-child {
                    background: #ffffff;
                }
                &-title {
                    font-size: 12px;
                }
                &-number {
                    font-size: 20px;
                }
            }
        }
        &-navigation {
            width: 100%;
            @include flexStyle();
            &-items {
                @include flexStyle();
                li {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    line-height: 50px;
                    cursor: pointer;
                    &:nth-child(2) {
                        border-left: 1px solid #F3F3F3;
                        border-right: 1px solid #F3F3F3;
                    }
                }
            }
            &-input {
                position: relative;
                span {
                    font-size: 20px;
                    color: #999999;
                    position: absolute;
                    top: 15px;
                }
                input {
                    @include borderStyle(#F3F3F3);
                    height: 30px;
                    padding-left: 45px;
                    background: #F3F3F3;
                }
            }
            &-buttons {
                width: 10%;
                height: auto;
                margin-right: 10px;
                vertical-align: center;
                span {
                    width: 50%;
                    height: 100%;
                    font-size: 20px;
                    cursor: pointer;
                    @include flexContentCenter;
                    &:last-child {
                        color: #00B4CF;
                    }
                }
            }
        }
        .empty-data {
            width: 100%;
            height: 300px;
            font-size: 20px;
            text-align: center;
            line-height: 300px;
            background: #ffffff;
            margin: 10px 0;
        }       
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        right: 12%;
    }
    header {
        .icon-angle-up, .icon-angle-down {
            right: 10.5%;
            top: 27px;
        }
        .icon-navicon {
            display: none;
        }
    }
    .sidebar {
        width: 20%;
        margin-left: 10%;
        .icon-close {
            display: none;
        }
    }
    .detail {
        @include marginStyle(2%, 10%);
        width: 58%;
        &-summary {
            height: 130px;
            &-item {
                width: 31%;
                &:last-child {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    li {
                        width: 30%;
                        height: 50%;
                        @include flexContentCenter;
                    }
                }
            }
        }
        &-navigation {
            height: 50px;
            flex-wrap: wrap;
            background: #ffffff;
            &-items,
            &-input {
                width: 33%;
                height: 100%;
            }
            &-items li:last-child {
                border-right: 1px solid #F3F3F3;
            }
            &-input {
                right: 60px;
                span {
                    left: 10px;
                }
                input {
                    margin: 10px 0;
                }
            }
            &-buttons {
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 1023px) and (max-width: 1200px) {
    .logo {
        right: 7%;
    }
    header {
        .icon-angle-up, .icon-angle-down {
            right: 5%;
            top: 27px;
        }
        .icon-navicon {
            display: none;
        }
    }
    .sidebar {
        width: 24%;
        .icon-close {
            display: none;
        }
    }
    .detail {
        @include marginStyle(1%, 1%);
        width: 74%;
        &-summary {
            height: 130px;
            &-item {
                width: 31%;
                &:last-child {
                    @include flexStyle();
                    flex-direction: column;
                    flex-wrap: wrap;
                    li {
                        width: 50%;
                        height: 30%;
                        @include flexContentCenter;
                    }
                    li.detail-summary-item-title {
                        justify-content: flex-start;
                        padding-left: 20px;
                    }
                }
            }
        }
        &-navigation {
            height: 50px;
            flex-wrap: wrap;
            background: #ffffff;
            &-items,
            &-input {
                width: 33%;
                height: 100%;
            }
            &-items li:last-child {
                border-right: 1px solid #F3F3F3;
            }
            &-input {
                right: 40px;
                span {
                    left: 10px;
                }
                input {
                    margin: 10px 0;
                }
            }
            &-buttons {
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        right: 7%;
    }
    header {
        .icon-angle-up, .icon-angle-down {
            right: 4%;
            top: 27px;
        }
        .icon-navicon {
            display: block;
            font-size: 22px;
            position: absolute;
            top: 30px;
            left: 20px;
            cursor: pointer;
            &:hover {
                color: #E1E4E6;
            }
            &:active {
                color: #E1E4E6; 
            }
        }
    }
    .content {
        position: relative;
    }
    .sidebar {
        position: absolute;
        width: 30%;
        height: auto;
        padding-top: 100px;
        top: -100px;
        left: 0;
        z-index: 50;
        .icon-close {
            display: block;
            font-size: 26px;
            color: #00B4CF;
            position: absolute;
            top: 32px;
            right: 10px;
            cursor: pointer;
            &:hover {
                color: #01869A;
            }
            &:active {
                color: #01869A;
            }
        }
    }
    .detail {
        @include marginStyle(1%, 1%);
        width: 98%;
        &-summary {
            height: 130px;
            &-item {
                width: 31%;
                &:last-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    li {
                        width: 50%;
                        height: 30%;
                        @include flexContentCenter;
                    }
                    li.detail-summary-item-title {
                        justify-content: flex-start;
                        padding-left: 20px;
                    }
                }
            }
        }
        &-navigation {
            height: 50px;
            flex-wrap: wrap;
            background: #ffffff;
            &-items,
            &-input {
                width: 33%;
                height: 100%;
            }
            &-items li:last-child {
                border-right: 1px solid #F3F3F3;
            }
            &-input {
                right: 200px;
                span {
                    left: 10px;
                }
                input {
                    margin: 10px 0;
                }
            }
            &-buttons {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .logo {
        right: 10%;
    }
    header {
        .icon-angle-up, .icon-angle-down {
            right: 3%;
            top: 27px;
        }
        .icon-navicon {
            display: block;
            font-size: 22px;
            position: absolute;
            top: 30px;
            left: 20px;
            cursor: pointer;
            &:hover {
                color: #E1E4E6;
            }
            &:active {
                color: #E1E4E6; 
            }
        }
    }
    .sidebar {
        position: absolute;
        width: 60%;
        height: auto;
        padding-top: 100px;
        top: -100px;
        left: 0;
        z-index: 50;
        .icon-close {
            display: block;
            font-size: 20px;
            color: #00B4CF;
            position: absolute;
            right: 10px;
            cursor: pointer;
            &:hover {
                color: #01869A;
            }
            &:active {
                color: #01869A;
            }
        }
    }
    .detail {
        @include marginStyle(1%, 1%);
        width: 98%;
        &-summary {
            height: 180px;
            flex-wrap: wrap;
            &-item {
                width: 48%;
                height: 80px;
                &:last-child {
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    li {
                        width: 30%;
                        height: 50%;
                        @include flexContentCenter;
                    }
                }
            }
        }
        &-navigation {
            height: 120px;
            flex-wrap: wrap-reverse;
            background: #F3F3F3;
            &-items {
                width: 100%;
                height: 50px;
                background: #ffffff;
            }
            &-input {
                width: 100%;
                height: 50px;
                text-align: center;
                background: #ffffff;
                margin-bottom: 20px;
                span {
                    left: 25px;
                }
                input {
                    width: 90%;
                    margin: 10px 10px;
                }
            }
            &-buttons {
                display: none;
            }
        }
    }
}